@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

.leaflet-control-container .leaflet-top {
    top: env(safe-area-inset-top);
}

.leaflet-control-container .leaflet-left {
    left: env(safe-area-inset-left);
}

.leaflet-control-container .leaflet-right {
    right: env(safe-area-inset-right);
}

.leaflet-control-container .leaflet-bottom {
    bottom: env(safe-area-inset-bottom);
}

.leaflet-touch .leaflet-control-attribution {
    display: none;
}

.leaflet-container a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.leaflet-container a:hover {
    color: #535bf2;
}

.leaflet-control-attribution .leaflet-attribution-flag {
    display: none !important;
}

.leaflet-control-attribution a:first-child {
    pointer-events: none;
}

.leaflet-interactive {
    transition: stroke 0.2s ease-in-out;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
